/* Hotrocks CSS by Jon Pederzani */
 

.title {
    text-align: center;
    font-family: monospace;
}

.die {
    height: 50%;
    width: 50%;

}

.container {
    width: 75%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

.board {
    border: 3px solid darkgreen;
    //background-color: forestgreen;
    margin-left: auto; 
    margin-right: auto;
}

.scoreboard {
    width: 75%;
    border: 1px double black;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    color: white;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    font-size: xxx-large;
}