/* Hotrocks CSS by Jon Pederzani */
 

.title {
    text-align: center;
    font-family: monospace;
}

.die {
    height: 50%;
    width: 50%;
   
}

.container {
    width: 75%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

.interface {
    display: grid;
    grid-template-areas: 
    'banner banner banner banner user-panel',
    'nav scoreboard scoreboard scoreboard chat',
    'nav ui ui ui chat',
    'nav ui ui ui chat',
    'footer footer footer footer footer';
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.user-panel {
    float: right;
    border: solid 1px black;
    
}

.board {
    border: 3px solid darkgreen;
    margin-left: auto; 
    margin-right: auto;
}

.holder {
    background-color:transparent;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.holder:hover {
   border: dashed 2px red; 
}

.holder:active {
    border: solid 2px red;
}

.select {
    visibility: hidden;
}

.info {
    color: red;
    visibility: hidden;
    text-align: center;
}



.scoreboard {
    width: 75%;
    border: 1px double black;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    color: white;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    font-size: xxx-large;
}

.user{
    color: white;
    border: 2px solid royalblue;
    margin-right: 20px;
    width: 150px;
    height: 200px;
    padding: 10px;
    float: right;
    background-image: linear-gradient(to bottom, rgb(82, 79, 250), rgb(5, 43, 114));
    font-size: 15px;
    
}
