 <header>
    <link rel="stylesheet" href="index.css">
    <script>
        function showContent() {
            document.getElementById("menu").style.display = "block";
        }
    </script>
</header>
<body>
    <div class="grid-container">
       <div class="header">
            <h1 id="header"><strong>Scrumables</strong></h1>
            <hr>
            
       </div>
       
       <div class="nav" onmouseover="showContent()">
           <h4 style="text-align: center;">Meet the Team:</h4>
           
                <a href="https://se-getting-to-know-ap.azurewebsites.net/" target="_blank">Antonio Pantoja</a>
                <a href="https://calm-stone-01fb45110.1.azurestaticapps.net/"> Omar C.</a>
                <a href="https://www.lewisu.edu/index.htm" target="_blank"> Jonathon M.</a>
                <a href="https://node-js-on-azure-jdp.azurewebsites.net/about" alt="Jon's About Me Page" target="_blank"> Jonathan P.</a>

                <br>
            <a href="https://github.com/apantojaa11/scrumables-portfolio/commits/main" target="_blank">GitHub history</a> 
       </div>

       <div class="logo">
            <img id= "team" src="the-scrumables.png" alt="Scrumables" usemap="#workmap" style="width:375px;height:480px;">
            <map name="workmap">
                <area shape="circle" coords="70,210,30" alt="Antonio P." href="https://se-getting-to-know-ap.azurewebsites.net/" target="_blank">
                <area shape="circle" coords="50,320,30" alt="Jonathon M." href="https://www.lewisu.edu/index.htm" target="_blank">
                <area shape="circle" coords="285,150,30" alt="Omar C." href="https://calm-stone-01fb45110.1.azurestaticapps.net/">
                <area shape="circle" coords="335,175,20" alt="Jonathan P." href="https://node-js-on-azure-jdp.azurewebsites.net/" target="_blank">
            </map>
       </div>

       <div class="content">
        <p id="hint">Confused?</p>
            <button id="button" type="button" onclick="alert('Use the scroll wheel on your mouse to scroll')">Click here</button>
        <hr>
            <h1 id="header2"><strong>Assignment Portfolio</strong></h1>
            <ul>
                <li><a href="/hotrocks" target="_blank">HotRocks Game</a></li>
            </ul>
            <ul>
                <li><a href="https://scrumables-health-calc.azurewebsites.net/" target="_blank">ScrumaBMI - Scrumables BMI Calculator</a></li>
            </ul>
            <ul>
                <li><a href="https://www.lewisu.edu/index.htm" target="_blank">TBA</a></li>
            </ul>
       </div>
    </div>
</body>
