<header>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide&effect=neon">
  
</header>
<body>
    <div class="grid-container">
        <div class="header">
            <h1 id="header" class="font-effect-neon">The Scrumables</h1>
            <p style="font-size:x-small">A CPSC-44000: Software Engineering Agile Scrum Team</p>
            <hr>
        </div>
       
        <div class="nav">
            <h2 style="text-align: center; border-bottom: 2px solid blueviolet">Site Navigation</h2>
            <div class="menu">
                <div class="container">
                    <div>
                        <p class="title">Meet the Team</p>
                            
                            <div class="info" id="apinfo">
                                <p>Antonio Pantoja</p>
                                <a href="https://se-getting-to-know-ap.azurewebsites.net/"  target="">Landing Page</a>
                            </div>
                            
                            <div class="info" id="ocinfo">
                                <p>Omar Chavez</p>
                                <a href="https://calm-stone-01fb45110.1.azurestaticapps.net/">Landing Page</a>
                            </div>
                    
                            <div class="info" id="jminfo">
                                <p>Jonathon Martin</p>
                                <a href="https://assignment-portfolio-jm.azurewebsites.net/know.html" target="_blank">Landing Page</a>
                            </div>
                    
                            <div class="info" id="jpinfo">
                                <p>Jonathan Pederzani</p>
                                <a href="https://node-js-on-azure-jdp.azurewebsites.net/about" alt="Jon's About Me Page" target="_blank"> Landing Page</a>
                            </div>
                    </div>
                </div>

                <div class="container">
                    <p class="title">Workflow History</p>
                    <p class="info" id="s4info"><a href="https://github.com/apantojaa11/scrumables-portfolio/commits/main">Sprint #4 GitHub History</a></p>
                    <p class="info" id="s5info"><a href="https://github.com/Jpederzani/scrumables-final-project/commits/test">Sprint #5 GitHub History</a></p>                
                </div>

                <div class="container">
                    <p class="title">Assignment Portfolio</p>
                    <p class="info" id="bmi"><a href="/riskcalculator" target="_blank">ScrumaBMI - Scrumables BMI Calculator</a></p>
                    <p class="info" id="hrox"><a href="/hotrocks" target="_blank">HotRocks Game</a></p>
                    <p class="info" id="tba"><a href="/proposal" target="_blank">Final Project Proposal</a></p>
                </div>
            </div>
        </div>
        
        <div class="logo">
            <img id= "team" src="the-scrumables.png" alt="Scrumables" usemap="#workmap" style="width:375px;height:480px;">
            <map name="workmap">
                <area shape="circle" coords="70,210,30" alt="Antonio P." href="https://se-getting-to-know-ap.azurewebsites.net/" target="_blank">
                <area shape="circle" coords="50,320,30" alt="Jonathon M." href="https://www.lewisu.edu/index.htm" target="_blank">
                <area shape="circle" coords="285,150,30" alt="Omar C." href="https://calm-stone-01fb45110.1.azurestaticapps.net/">
                <area shape="circle" coords="335,175,20" alt="Jonathan P." href="https://node-js-on-azure-jdp.azurewebsites.net/" target="_blank">
            </map>
        </div>
        <div class="confused">
            <p id="hint">Confused?</p>
            <button id="cnfsd" type="button" onclick="alert('Use the scroll wheel on your mouse to scroll')">Click here</button>
        </div>
 
        <div class="update">
             <h2 class="ptitle">Update |<span class="pdate">25.March.2022</span></h2>
            <p class="post">Quick site updates:
                <ul class="post">
                    <li class="post"><b>NEW:</b> "Final Project Proposal" page has been added to our website</li>
                    <li class="post"><b>UPDATED:</b> "BMI Calculator" has had it's error checking and validation constraints checked and uploaded</li>
                </ul>
               <p class="post"> Special thanks to Antonio for working on the final project proposal page.  More updates to come.</p>
            </p>
           <br>
            <h2 class="ptitle">Who Are We?</h2>
            <p class="post">Welcome to <q>The Scrumables</q> website, dedicated to the "Scrumables" agile scrum team for <q>CPSC-44000: Software Engineering</q> at Lewis University in Illinois. The purpose of this site is to provide a landing page for visitors to view information about our team members, use applications we have written, and hopefully contact and interact with the team members.
            <br>
            If your confused still, why not give our handy <quote>Confused?</quote> widget a spin?  I'm sure it won't make things worse. </p>
        </div>
    </div>
</body>
