<header>	
    <title>HotRocks</title>
    <script src="../lib/gamesPlayedInc.js"></script>
    </header>


<body>
<h1> Hello,  </h1>
<script>
    let name = user.username;
</script>
<h1> You have played  games</h1>
<h1 id="funcId" class="title">HoT rOcKs!<br><button onclick="app.use(gamesPlayedInc.gamesInc)">Roll Dice</h1>
</body>