<head>
    <link rel="stylesheet" href="/loginindex.css">
</head>
<header>	
    <title>HotRocks</title>


<div class="charts">
<h1> Hello, <%= user.username %> </h1>
<h1> You have played <%= user.gamesplayed%> games</h1>
<a href="/hotrocks"> hotrocks</a>
</div>