
<header>	
<title>Proposal</title>
	<!--<script src="proposal.js"></script>-->
	<link rel="stylesheet" href="proposal.css">
</header>
<body>
    <h1 class="title"><strong>HotRocks</strong></h1>
        <hr>
        <h2>Welcome to HotRocks</h2>

        <h3>Team</h3>
        <ul>
            <li>Antonio Pantoja</li>
            <li>Omar Chavez</li>
            <li>Jonathon Martin</li>
            <li>Jonathan Pederzani</li>
        </ul>
        <br>

        <h3>Overview</h3>
        <p>
            Players roll dice and must find points within each roll, determine how they want to take points, and <br>
            remove those dice from their hand re-rolling the others. If a player does not find any points in a roll, <br>
            they lose all points collected for the round. If a player chooses to end their turn before losing all points, <br>
            they add their score to their “total score.” The first player to reach a specific score triggers the final round, <br>
            where at the end the player with the highest score wins.
        </p>
        <!--
        <ul>
            <li>HotRocks application where players roll dice and must find points within each roll to compete against one another</li>
            <li>If a player does not find any points in a roll, they lose all points collected for the round.</li>
            <li>The first player to reach a specific score triggers the final round, where at the end the player with the highest score wins.</li>
        </ul>
        -->
        <br>

        <h3>Technology Overview</h3>
        <ul>
            <li>Languages used: HTML, CSS, JavaScript</li>
            <li>Platform created on: Visual Studio Code</li>
            <li>Hosted on: Microsoft Azure</li>
        </ul>
        <br>

        <h3>Last Updated</h3>
        <ul>
            <li>Date: 3/27/22</li>
            <li>Time: 12:00:00</li>
        </ul>
        <br>

        <h3>Feature List</h3>
        <ul>
            <li>Turn-by-Turn Multiplayer type aspect</li>
            <li>Scoring Logic</li>
            <li>Leader-board</li>
            <li>Login Authentification</li>
        </ul>
        <br>

        <!--change or add on?-->
        <h3>Future Feature List</h3>
        <ul>
            <li>Play against AI</li>
            <li>Database to authenticate and save user scores</li>
            <li>Leader-board standings update in realtime</li>
            <li>Multiplayer Chatroom</li>
        </ul>
        <br>

        <!--change or add on?-->
        <h3>Basic Technical Feature List</h3>
        <ul>
            <li>HTML format</li>
            <li>CSS design</li>
            <li>JavaScript functions</li>
            <li>Node.js and Express</li>
        </ul>
        <br>

        <!--change list below-->
        <h3>Advanced Technical Feature List</h3>
        <ul>
            <li>Express Handlebars</li>
            <li>MongoDB</li>
        </ul>
        <br>
    </body>

